<%- include('../partials/header'); %>

<div class="container">
  <h1>Welcome to the show page.</h1>

  <div class="thumbnail">
    <h3><%=clients.clientName%></h3>

    <h4><%=clients.clientAddress%></h4>

    <p></p>
    <a class="btn btn-primary" href="/clients" role="button">Home</a>
  </div>
</div>
<!--Container div-->

<%-include('../partials/footer'); %>
